
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.underlined_text {
    text-decoration: underline;
}

.center_alligned_text {
    text-align: center;
}

.logo_n_title {
    text-align: center;
}

.logo_n_title>h1 {
    display: inline-block;
}

.logo_n_title>img {
    width: 90px;
    display: inline-block;
    vertical-align: middle;
}

.contact_info {
    margin-top: 0.5%;
    text-align: center;
}

.contact_info div{
    display: inline-block;
    margin-bottom: 0;
    margin-left: 1%;
    margin-right: 1%;
}

.phys_address {
    text-align: center;
}

.phys_address .address_instance{
    display: inline-block;
    vertical-align: top;
    margin-top: 0.5%;
    margin-bottom: 0;
    margin-left: 1%;
    margin-right: 1%;
}

.invitation {
    text-align: center;
}

.repair_heading .warning {
    color: red;
    text-align: center;
}

.repair_menu>div{
    text-align: center;
}

.making_services>div {
    margin-left: 1%;
}

.schedule_info {
    margin-left: 1%;
}

.schedule_info .place_time {
    margin-bottom: 0.5%;
}

.mail_footer>div {
    margin-left: 1%;
    margin-bottom: 0.5%;
}
